@model usiddique2749ex1c1.Models.StateProvinces

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>StateProvinces</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StateProvinceId" />
            <div class="form-group">
                <label asp-for="StateProvinceCode" class="control-label"></label>
                <input asp-for="StateProvinceCode" class="form-control" />
                <span asp-validation-for="StateProvinceCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateProvinceName" class="control-label"></label>
                <input asp-for="StateProvinceName" class="form-control" />
                <span asp-validation-for="StateProvinceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesTerritory" class="control-label"></label>
                <input asp-for="SalesTerritory" class="form-control" />
                <span asp-validation-for="SalesTerritory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatestRecordedPopulation" class="control-label"></label>
                <input asp-for="LatestRecordedPopulation" class="form-control" />
                <span asp-validation-for="LatestRecordedPopulation" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="LastEditedBy" class="control-label"></label>
                <input asp-for="LastEditedBy" class="form-control" />
                <span asp-validation-for="LastEditedBy" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Countries" asp-action="Details" asp-route-id="@Model.CountryId"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
