@model IEnumerable<usiddique2749ex1c1.Models.StatisticsViewModels.SalesTerritoryGroup>

@{
    ViewData["Title"] = "SalesTStats";
}

<h2>Sales Territory Statistics: @ViewData["CountryName"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Sales Territory</th>
            <th>
                # of States
            </th>
            <th>
                Sum of Population
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalesTerritory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerritoryStateCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerritorySumPopulation)
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back to List</a>